<html lang="en">

<head>
  <title>Add Book</title>
  <link rel="stylesheet" type="text/css" href="/css/Add-RemoveBook.css">
  <link rel="icon" href="/resources/Favicons/book.png" type="image/png">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/requests">View Requests</a></li>
      <li><a href="/books">BookCatalog</a></li>
      <li><a href='/logout'>Logout</a></li>
    </ul>
  </nav>
  <div>
    <form action="/add_book" method="post" id="add">
      <input type="text" name="title" id="title" required placeholder="Title">
      <input type="text" name="author" id="author" required placeholder="Author">
      <input type="text" name="genre" id="genre" required placeholder="Genre">
      <input type="text" name="quantity" id="quantity" required placeholder="Quantity">
      <button type="submit">Add Book</button>
    </form>
  </div>
  <div>
    <form action="/remove_book" method="post" id="remove">
      <input type="text" name="title" id="title" required placeholder="Title">
      <input type="text" name="author" id="author" required placeholder="Author">
      <input type="text" name="genre" id="genre" required placeholder="Genre">
      <input type="text" name="quantity" id="quantity" required placeholder="Quantity to be Removed">
      <button type="submit">Remove Book</button>
    </form>
    <p>If you want to delete a book entirely, give negative quantity!</p>
  </div>
</body>

</html>