<html lang="en">

<head>
  <title>Add Book</title>
  <link rel="stylesheet" type="text/css" href="/css/Add-RemoveBook.css">
  <link rel="icon" href="/resources/Favicons/book.png" type="image/png">
</head>

<body>
  <div>
    <form action="/add_book" method="post">
      <input type="text" name="title" id="title" required placeholder="Title">
      <input type="text" name="author" id="author" required placeholder="Author">
      <input type="text" name="genre" id="genre" required placeholder="Genre">
      <input type="text" name="quantity" id="quantity" required placeholder="Quantity">
      <button type="submit">Add Book</button>
  </div>
  <div>
    <form action="/remove_book" method="post">
      <input type="text" name="title" id="title" required placeholder="Title">
      <input type="text" name="author" id="author" required placeholder="Author">
      <input type="text" name="genre" id="genre" required placeholder="Genre">
    </form>
    <button type="submit">Remove Book</button>
  </div>
  <button onclick="window.location.href='/books'">Back to Catalog</button>
</body>

</html>