<table>
  <tr>
    <th>Book ID</th>
    <th>Title</th>
    <th>Borrowed Date</th>
    <th>Returned Date</th>
  </tr>
  <% borrowingHistory.forEach(function(history) { %>
  <tr>
    <td>
      <%= history.book_id %>
    </td>
    <td>
      <%= history.title %>
    </td>
    <td>
      <%= history.borrowed_date %>
    </td>
    <td>
      <%= history.returned_date %>
    </td>
  </tr>
  <% }); %>
</table>
<button onclick="window.location.href='/books'">Back to Catalog</button>