<html lang="en">

<head>
  <title>Messages</title>
  <link rel="stylesheet" type="text/css" href="/css/messages.css">
  <link rel="icon" href="/resources/Favicons/msg.png" type="image/png">
</head>

<body>
  <% if(messages.length===0){ %>
  <h1>No messages</h1>
  <% } else { %>
  <div id="messages"><%messages.forEach(function(message) { %>
    <div class="message">
      <% if(message.request=='adminPrivs') {%>
      <p>Your request for admin Privileges has been <%=message.status%>!</p>
      <% } else { %>
      <p>Your request for <%= message.request %> of <%=message.title%> has been <%= message.status %>!</p>
      <% } %>
    </div>
    <% }); %>
  </div>
  <% } %>
  <button onclick="window.location.href='/books'">Back to Catalog</button>
</body>

</html>